<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">,
</head>
<body>
    <h2>here is your post in detail</h2>
    <p>post id:<%= post.id %></p>
    <div class="m">
        <h3 class><%= post.username %></h3>
        <h3 class><%= post.content %></h3>
        

    </div>
    
</body>
</html>